$main-font: 'Source Sans Pro', sans-serif;
$logo-font: 'Baloo 2', cursive;

body{
    width: 100%;
    height: 100vh;
}


.logo{
    font-family: $logo-font;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.25px;
    margin: 30px;
}

header {
    width: 100%;
    height: 10vh;
    
}

.layout__header {
    max-width: 1400px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.nav{
    min-width: 600px;
    display: flex;
    // justify-content: space-evenly;
    // align-items: center;
    // flex-wrap: wrap;


    &__list {
        width: 100%;
        display: flex;
        list-style: none;
        // justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        margin: 10px;
        
    }

    &_li{
        list-style: none;
        // display: flex;
        // flex-direction: row;
        

    }

    &_link{
        text-decoration: none;
        font-size: 20px;
        color: black;
    }

    &_link:hover {
        color: coral;
    }
}

main {
    width: 100%;
    min-height: 100vh;
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
}

.layout_main{
    max-width: 1400px;
    width: 100%;
    padding: 25px;
    margin: 25px;
    display: flex;
}

.main_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;

    &_heading{
        font-weight: 500;
        font-size: 90px;
        line-height: 102px;
        letter-spacing: -2px;
    }
}

